.conteiner{
    text-align: center;
    color: #ffffff;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

/*la disposicion de los perfiles de cada uno*/
.miembros{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}

/*la foto*/
.miembros img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*El titulo*/
h1{
    font-size: 3rem;
    margin-bottom: 30px;
    padding: 20px;
    color: #ffffff;  
}

/*El rol y las descripciones*/
h2,h3,p {
    margin: 20px;
    color: #ffffff;
}

/* Responsividad */
@media (max-width: 768px) {
    .miembros{
        grid-template-columns: repeat( 2 ,1fr );
    }
}
