.aboutUs{

    padding: 2rem;

    .card{
        background: rgba(0, 0, 0, 0.9);
    }
    .card-title, .card-subtitle, .card-text, h1{
        padding: 1rem;
        background: linear-gradient(rgb(64, 51, 124),rgb(108, 134, 208));
        -webkit-background-clip: text;
        background-clip: text;       
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}