body {
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    line-height: 1.6;
    background: url('../../public/img/fondoHTML.png') no-repeat center center fixed;
    background-size: cover;
}

.section {
    padding: 3rem 1.5rem;

}

.principal img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background: linear-gradient(0deg, rgb(108, 134, 208) 0%, #40337c 100%);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-weight: 700;
    color: #ffffff;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.listaIntegrantes{
    color: #ffffff;
}
.image img {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image img:hover {
    transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) { 
    .section {
        padding: 1.5rem 1rem;
    }

    .card-body {
        padding: 1.5rem;
    }

    .image img {
        margin-bottom: 1rem;
    }
}
